<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D&D Dating Home</title>
</head>
<body>
    <div>
        <img src="../images/DandD%20pic.jpg" height="75%" width="75%">
        <p>
            Do you need a friend to help you crawl through that dungeon? Do you need
            a partner to help you fight that dreaded Beholder? Do you need a teammate
            that can heal you, or that you can heal?
        </p>
        <p>
            Welcome to The Dungeon Crawler Dating Site! We will help you find the
            right party member for any quest!
        </p>
    </div>

    <form>
        First Name: <input type="text" placeholder="First Name"><br>
        Last Name:  <input type="text" placeholder="Last Name"><br><br>
        Gender: (if any)<br>
        <input type="radio" name="gender" checked>Male<br>
        <input type="radio" name="gender">Female<br>
        <input type="radio" name="gender">Neither<br><br>
        <input type="submit" value="Adventure On!">
    </form>
</body>
</html>