<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interests</title>
</head>
<body>
    <form method="post" action="summary">
        <label>
            <input type="checkbox" name="indoor[]" value="trading"> Trading
            <input type="checkbox" name="indoor[]" value="dragon-chess"> Dragon Chess
            <input type="checkbox" name="indoor[]" value="drinking"> Drinking
            <input type="checkbox" name="indoor[]" value="singing"> Singing
            <input type="checkbox" name="indoor[]" value="healing"> Healing
            <input type="checkbox" name="indoor[]" value="lock-picking"> Lock Picking
            <input type="checkbox" name="indoor[]" value="pick-pocketing"> Pick Pocketing
            <input type="checkbox" name="indoor[]" value="resting"> Resting
        </label>
        <label>
            <input type="checkbox" name="outdoor[]" value="yeling"> Yelling
            <input type="checkbox" name="outdoor[]" value="looting"> Looting
            <input type="checkbox" name="outdoor[]" value="dungeon"> Dungeon Crawling
            <input type="checkbox" name="outdoor[]" value="frolicking"> Frolicking
            <input type="checkbox" name="outdoor[]" value="hunting"> Hunting
            <input type="checkbox" name="outdoor[]" value="gathering"> Gathering
            <input type="checkbox" name="outdoor[]" value="smithing"> Smithing
            <input type="checkbox" name="outdoor[]" value="casting"> Casting Spells
        </label>
    </form>
</body>
</html>